# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log

# Deployment scripts
.deploy-and-setup.ps1
.deploy-update.ps1
.deploy.ps1
deploy-and-setup.ps1
deploy-update.ps1
deploy-smart.ps1
deploy.ps1
dev-start.ps1

# Documentation
.PRODUCTION_BUILD_PROCEDURE.md
.README.md
PRODUCTION_BUILD_PROCEDURE.md

# License files
.LICENSE*
markdown/